chardet==3.0.4
dpkt==1.9.1
dnspython==1.15.0
dnspython3==1.15.0
ipwhois==1.0.0
pythonwhois==2.4.3
idna==2.6
tld==0.7.9
tqdm==4.19.7
virustotal-api==1.1.10
requests==2.18.4
six==1.11.0
urllib3==1.22
python-magic==0.4.15
python-dateutil==2.7.2
Pillow==8.1.1
gmplot==1.2.0
pytsk3==20180225
texttable==1.2.1
fleep==1.0.1
libewf-python
